city-anpr/data/cctv/uvh26/
city-anpr/data/cctv/uvh26_10gb/
city-anpr/data/cctv/uvh26_yolo/

city-anppr/.venv/

city-anpr/data/videos/

city-anpr/runs/

*.pt

__pycache__/
*.pyc
.DS_Store

Impsters_git_backup/

# Local Python virtual environments
city-anpr/.venv/
city-anpr-demo/.venv/
